<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="jobPipeline" type="R.Scheduler.PipesAndFilters.Config.PipesAndFiltersConfigurationSection, R.Scheduler.PipesAndFilters" />
  </configSections>

  <jobPipeline>

    <startParams>
      <add keyName="startParam1" />
      <add keyName="startParam2" />
    </startParams>

    <filters>
      <add name="Fake PafFilter 1" assemblyPath="C:\GitHub\R.Scheduler\src\R.Scheduler.IntegrationTests\Resourses\R.Scheduler.FakePafFilter1.dll"/>
      <add name="Fake PafFilter 2" assemblyPath="C:\GitHub\R.Scheduler\src\R.Scheduler.IntegrationTests\Resourses\R.Scheduler.FakePafFilter2.dll"/>
    </filters>
    
  </jobPipeline>

</configuration>
